body {
  margin: 0;
  padding: 0;
  background: #1c1e21;
}

nav {
  height: 60px;
  background-color: #303030;
}

.grupv {
  display: grid;
}

.dec {
  visibility: hidden;
}

label {
  color: white;
  margin: 4px;
}

input {
  padding: 10px;
  border-radius: 10px;
  background-color: #575757;
  border: none;
  outline: none;
  color: rgb(204, 204, 204);
}

h2 {
  color: white;
}

textarea {
  outline: none;
}
